/* Custom page CSS
-------------------------------------------------- */

.container {
    width: auto;
    padding: 0 15px;
}

.exp-image {
    position: relative;
}

.exp-image::after {
    display: block;
    content: '';
    padding-bottom: 66.625%;
}

.exp-image img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}